<%- include('./includes/head') %>
<%- include('./includes/nav') %>


<div class="container my-5">
  <%- include('./includes/messages') %>

  <div class="row">

    <div class="col-lg m-2">
    
     <h1> Olá <%= user.email %></h1>
   
   
  </div>
</div>



<%- include('./includes/footer') %>  